@charset "UTF-8";
@import url("default.css");

/* ========================================================================== */
/* 以下に、各フォルダーごとの差分を記述する。 */

article.entry div.entry_title {
  margin-bottom: 1.0em;
}
article.entry div.entry_title div.datetime {
  font-size: 90%;
}
article.entry div.entry_title h2 {
  margin-bottom: 0;
}
article.entry div.entry_title div.tag {
  font-size: 90%;
}
